<div class="mx-6">
<div class="post myCard postDiv my-3">
  <div class="card myCard has-background-link-light">
    <div class="card-content">
      <h2>{{{post.title}}}</h2>
      <div>
        Posted by {{post.user.user_name}} on {{format_date post.date_created}}
      </div>
    </div>
    <div class="card-body">
      {{{post.body}}}
    </div>
  </div>
</div>

<h3 class="my-6">Comments</h3>
{{#if post}}
  {{#each post.comments}}
<div class="card myCard has-background-primary-light my-3">
  <div class="card-content">
    <div>
      <p>
        {{{body}}}
      </p>
      <p>
        &mdash; {{user.user_name}}, {{{format_date date_created}}}
      </p>
    </div>
  </div>
</div>
    {{/each}}
{{/if}}


{{#if logged_in}}
<div class="my-6">
<form id="new-comment-form" class="card myCard" action="/api/comment" method="POST">
  <div class="content">
    <h3>Add New Comment</h3>
  </div>

  <div class="content">
    <input type="hidden" name="user-id" value="{{user.id}}" />

    <input type="hidden" name="post-id" value="{{post.id}}" />

    <textarea  name="body" class="form-input" placeholder="Leave a comment"></textarea>

    <button type="submit" class=" button is-primary btn">Submit</button>
  </div>
</form>
</div>
</div>
{{/if}}
<script src="/js/comment.js"></script>
