<div class="post myCard">
  <div class="card myCard">
    <div class="card-content">
      <h2>{{{user.posts.[0].title}}}</h2>
      <div>
        Posted by {{user.user_name}} on {{format_date user.posts.[0].date_created}}
      </div>
    </div>
    <div class="card-body">
      {{{user.posts.[0].body}}}
    </div>
  </div>
</div>

<h3>Comments</h3>
{{#if user}}
<div class="card myCard">
  <div class="card-content">
    {{#each user.posts.[0].comments}}
    <div>
      <p>
        {{{body}}}
      </p>
      <p>
        &mdash; {{user.user_name}}, {{{format_date date_created}}}
      </p>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>



<form id="new-comment-form" class="card myCard">
  <div class="content">
    <h3>Add New Comment</h3>
  </div>

  <div class="content">
    <input type="hidden" name="post-id" value="{{post.id}}" />

    <label class="form-label" for="comment-body">Comment</label>

    <textarea name="comment-body" class="form-input"></textarea>

    <button type="submit" class="btn">Submit</button>
  </div>
</form>
</div>

<script src="/js/comment.js"></script>